# spark 授权信息
SPARKAI_APP_ID=
SPARKAI_API_KEY=
SPARKAI_API_SECRET=
SPARKAI_DOMAIN=general
SPARKAI_URL=wss://spark-api.xf-yun.com/v1.1/chat


# spark embedding 授权信息
SPARK_Embedding_APP_ID=
SPARK_Embedding_API_KEY=
SPARK_Embedding_API_SECRET=
SPARKAI_Embedding_DOMAIN=


# DeepSeek API 授权信息
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com